<app-header (toogleSideBar)="sideBarToogler()"></app-header>
<mat-sidenav-container>
  <mat-sidenav id="sidenav" mode="side" [class.menu-open]="isExpanded" [class.menu-close]="!isExpanded" opened>
    <div class="mat-drawer-inner-container">
      <mat-nav-list>
        <mat-list-item routerLinkActive="current active" routerLink="/dashboard">
          <mat-icon class="matIcon">home</mat-icon> &nbsp; &nbsp;&nbsp;
          <span *ngIf="isExpanded">Dashboard</span>
        </mat-list-item>
        <!-- <mat-expansion-panel *ngIf="isExpanded" class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-icon class="matIcon">app_registration</mat-icon>
            &nbsp; &nbsp;&nbsp;
            <span>Registration</span>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLinkActive="current active" routerLink="/students">
              <mat-icon class="matIcon">groups</mat-icon>&nbsp; &nbsp;&nbsp;
              <span *ngIf="isExpanded">Students</span>
            </a>
            <a mat-list-item routerLinkActive="current active" routerLink="/staff">
              <mat-icon class="matIcon">groups</mat-icon>&nbsp; &nbsp;&nbsp;
              <span *ngIf="isExpanded">School Staff</span>
            </a>
            <a mat-list-item routerLinkActive="current active" routerLink="/">
              <mat-icon class="matIcon">storage</mat-icon>&nbsp; &nbsp;&nbsp;
              <span>Class</span>
            </a>
            <a mat-list-item routerLinkActive="current active" routerLink="/">
              <mat-icon class="matIcon">storage</mat-icon>&nbsp; &nbsp;&nbsp;
              <span>Subject</span>
            </a>
          </mat-nav-list>
        </mat-expansion-panel> -->
        <mat-expansion-panel *ngIf="isExpanded" class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-icon class="matIcon">assignment_ind</mat-icon>
            &nbsp; &nbsp;&nbsp;
            <span>TaxPayer Management</span>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLinkActive="current active" routerLink="/kyc">
              <mat-icon class="matIcon">person</mat-icon>&nbsp; &nbsp;&nbsp;
              <span *ngIf="isExpanded">KYC</span>
            </a>
            <a mat-list-item routerLinkActive="current active" routerLink="/taxpayerRegistration">
              <mat-icon class="matIcon">app_registration</mat-icon>&nbsp; &nbsp;&nbsp;
              <span *ngIf="isExpanded">Register TaxPayer</span>
            </a>
            <a mat-list-item routerLinkActive="current active" routerLink="/withholding">
              <mat-icon class="matIcon">app_registration</mat-icon>&nbsp; &nbsp;&nbsp;
              <span *ngIf="isExpanded">Register Agent</span>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
        
        <!-- <mat-expansion-panel *ngIf="isExpanded" class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-icon class="matIcon">my_location</mat-icon>
            &nbsp; &nbsp;&nbsp;
            <span>Locations</span>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLinkActive="current active" routerLink="/students">
              <mat-icon class="matIcon">place</mat-icon>&nbsp; &nbsp;&nbsp;
              <span *ngIf="isExpanded">Regions</span>
            </a>
            <a mat-list-item routerLinkActive="current active" routerLink="/staff">
              <mat-icon class="matIcon">place</mat-icon>&nbsp; &nbsp;&nbsp;
              <span *ngIf="isExpanded">Districts</span>
            </a>
            <a mat-list-item routerLinkActive="current active" routerLink="/">
              <mat-icon class="matIcon">place</mat-icon>&nbsp; &nbsp;&nbsp;
              <span>Localities</span>
            </a>
          </mat-nav-list>
        </mat-expansion-panel> -->
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
 <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

