
<div class="row">
  <div class="col-sm-2">
    <mat-card class="mat card element"></mat-card>
  </div>
  <div class="col-sm-2">
    <mat-card class="mat card element"></mat-card>
  </div>
  <div class="col-sm-2">
    <mat-card class="mat card element"></mat-card>
  </div>
  <div class="col-sm-2">
    <mat-card class="mat card ele"></mat-card>
  </div>
  <div class="col-sm-2">
    <mat-card class="mat card ele"></mat-card>
  </div>
  <div class="col-sm-2">
    <mat-card class="mat card ele"></mat-card>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <mat-card class="mat-elevation-z8">
      <div style="height:400px;width:100%;" id="pie"></div>
    </mat-card>
  </div>
  <div class="col-sm-6">
<mat-card class="mat-elevation-z8">
  <div style="height:400px;width:100%;" id="mypie"></div>
</mat-card>
  </div>
</div>
<br>
<mat-card style="height: 500px;" class="mat-elevation-z8">
  <div style="height:500px;width:100%;" id="chartdiv"></div>
</mat-card>
