<!-- <ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  template="<img src='../../assets/ezgif.com-gif-maker.gif' />"
  
>
</ngx-spinner> -->

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "762B12" type = "timer" [fullScreen] = "true">
	<br>
	<br>
	<p *ngIf="verifying" style="color: white" >Applying... </p>
	<p *ngIf="submittingRegistrationData" style="color: white" >Uploading data... </p>
</ngx-spinner>
<!-- 
		<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
			<circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
			<path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
		  </svg> -->

		  
<div class="container" fxLayout="row" fxLayoutAlign="center none">
	<div fxFlex="95%">
  
	  <mat-card>
		<mat-card-content>

		<div *ngIf="showKYCForm">
		  <h2>Know Your Customer (KYC)</h2>

		  <mat-tab-group>
			<mat-tab label="Person"> 

				<br>
		
				<form [formGroup]="verifyZNumberForm" (submit)="verifyZNumberButtonPress()">

		
	
					<div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">
						<mat-form-field appearance="outline" fxFlex color="accent" >
							<mat-label>Document Type</mat-label>
							<mat-select
							placeholder="Document Type"
							[(ngModel)]="selectedDocumentType"
							(ngModelChange)="onDocumentTypeSelection()"
							formControlName="documentType"
						  >
							<mat-option  *ngFor="let documentType of documentTypes" [value]="documentType.value">
							  {{ documentType.viewValue}}
							</mat-option>
						  </mat-select>
						
						
							<mat-icon class="matIcon" matSuffix>text_snippet</mat-icon>
						
						  </mat-form-field>
						
						
						  <mat-form-field appearance="outline" fxFlex color="accent" *ngIf="isNIDA">
							<mat-label>NIDA</mat-label>
							<input matInput placeholder="NIDA"  formControlName="NIDA">
							<mat-icon class="matIcon" matSuffix>tag</mat-icon>
							<mat-error *ngIf="verifyZNumberForm.controls['NIDA'].errors && verifyZNumberForm.controls['NIDA'].hasError('required')">
							  NIDA Number* is required
							</mat-error>
							
						  </mat-form-field>
						
						
						<mat-form-field appearance="outline" fxFlex color="accent" *ngIf="isPassport">
							<mat-label>Passport Number*</mat-label>
							<input matInput placeholder="Passport Number*" formControlName="passportNumber">
							<mat-icon class="matIcon" matSuffix>credit_card</mat-icon>
							<mat-error *ngIf="verifyZNumberForm.controls['passportNumber'].errors && verifyZNumberForm.controls['passportNumber'].hasError('required')">
							  passportNumber Number* is required
							</mat-error>
						
						  </mat-form-field>
			
						  <button class="example-full-button " mat-raised-button color="primary" [disabled]="!verifyZNumberForm.valid">Verify</button>
			
				  </div>
				</form>

				<form [formGroup]="personForm" (submit)="applyForZNumber()" *ngIf="isZNumberVefied">
					<div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">
    
						<p fxFlex color="accent">
							<mat-toolbar >
							  <span>Tax Information</span>
							</mat-toolbar>
						  </p>
				
					</div>
			
					<div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">
				  
			
				
						<mat-form-field appearance="outline" fxFlex color="accent">	
							<mat-label>Date of Birth*</mat-label>
							<input matInput placeholder="Mobile Number*" type="date" formControlName="dateBirth">
							<mat-icon class="matIcon" matSuffix>date_range</mat-icon>
							<mat-error *ngIf="personForm.controls['dateBirth'].errors && personForm.controls['dateBirth'].hasError('required')">
							  dateBirth Number* is required
							</mat-error>
						
						  </mat-form-field>
					  
						  <mat-form-field appearance="outline" fxFlex color="accent">	
							  <mat-label>Email*</mat-label>
							  <input readonly 	matInput placeholder="Mobile Number*" formControlName="email">
							  <mat-icon class="matIcon" matSuffix>email</mat-icon>
							  <mat-error *ngIf="personForm.controls['email'].errors && personForm.controls['email'].hasError('required')">
								Email * is required
							  </mat-error>
						  
							</mat-form-field>
					  
							<mat-form-field appearance="outline" fxFlex color="accent">	
							  <mat-label>Full Name*</mat-label>
							  <input matInput placeholder="Full Name*" formControlName="fullName">
							  <mat-icon class="matIcon" matSuffix>badge</mat-icon>
							  <mat-error *ngIf="personForm.controls['fullName'].errors && personForm.controls['fullName'].hasError('required')">
								Full Name is required
							  </mat-error>
						  
							</mat-form-field>
				
						<!-- <mat-form-field fxFlex color="accent">
						  <input matInput type="text" placeholder="Type of Business Activities" formControlName="lastName">
					  </mat-form-field> -->
						  
				  </div>
				
				  <div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">
				  
				
				
							
					<mat-form-field appearance="outline" fxFlex color="accent">	
						<mat-label>Id Number*</mat-label>
						<input matInput placeholder="Mobile Number*" formControlName="idNumber">
						<mat-icon class="matIcon" matSuffix>tag</mat-icon>
						<mat-error *ngIf="personForm.controls['idNumber'].errors && personForm.controls['idNumber'].hasError('required')">
							Id Number is required
						</mat-error>
					
					  </mat-form-field>
			  
					  <!-- <mat-form-field appearance="outline" fxFlex color="accent">	
						<mat-label>Id Type *</mat-label>
						<input matInput placeholder="Mobile Number*" formControlName="idType">
						<mat-icon class="matIcon" matSuffix>phone</mat-icon>
						<mat-error *ngIf="personForm.controls['idType'].errors && personForm.controls['idType'].hasError('required')">
							Id Type is required
						</mat-error>
					
					  </mat-form-field> -->

					  <mat-form-field appearance="outline" fxFlex color="accent" >
						<mat-label>Id Type</mat-label>
						<mat-select
						placeholder="Id Type"

						formControlName="idType"
					  >
						<mat-option  *ngFor="let listOfIdType of listOfIdTypes" [value]="listOfIdType.id">
						  {{ listOfIdType.typeName}}
						</mat-option>
					  </mat-select>
					
					
						<mat-icon class="matIcon" matSuffix>credit_card</mat-icon>
					
					  </mat-form-field>

			  
					  <mat-form-field appearance="outline" fxFlex color="accent">	
						<mat-label>Mobile Number*</mat-label>
						<input matInput placeholder="Mobile Number*" formControlName="mobile">
						<mat-icon class="matIcon" matSuffix>phone</mat-icon>
						<mat-error *ngIf="personForm.controls['mobile'].errors && personForm.controls['mobile'].hasError('required')">
						  Mobile Number* is required
						</mat-error>
					
					  </mat-form-field>
			  
				
					<!-- <mat-form-field fxFlex color="accent">
					  <input matInput type="text" placeholder="Type of Business Activities" formControlName="lastName">
				  </mat-form-field> -->
					  
				</div>
				
				<div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">
				  
				
				
<!-- 				
					<mat-form-field appearance="outline" fxFlex color="accent">	
						<mat-label>Gender</mat-label>
						<input matInput placeholder="Mobile Number*" formControlName="gender">
						<mat-icon class="matIcon" matSuffix>phone</mat-icon>
						<mat-error *ngIf="personForm.controls['gender'].errors && personForm.controls['gender'].hasError('required')">
						  Gender is required
						</mat-error>
					  
					  </mat-form-field> -->

					  
				
					  <mat-form-field appearance="outline" fxFlex color="accent" >
						<mat-label>Gender</mat-label>
						<mat-select
									placeholder="Gender"
								
									formControlName="gender"
								  >
									<mat-option  *ngFor="let genderr of gender" [value]="genderr.value">
									  {{ genderr.value}}
									</mat-option>
								  </mat-select>
					
					
						<mat-icon class="matIcon" matSuffix>account_circle</mat-icon>
					
					  </mat-form-field>
				
				<!-- <mat-form-field fxFlex color="accent">
				  <input matInput type="text" placeholder="Type of Business Activities" formControlName="lastName">
				</mat-form-field> -->
				  
				</div>
				
				</form>
				
				
			
<form [formGroup]="addressForm" (submit)="applyForZNumber()" *ngIf="isZNumberVefied">
	<div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">
    
		<p fxFlex color="accent">
			<mat-toolbar >
			  <span>Address</span>
			</mat-toolbar>
		  </p>

	</div>
    <div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">
		
        <mat-form-field appearance="outline" fxFlex color="accent" >
            <mat-label>Address</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      formControlName="address">
            </textarea>
            <mat-icon class="matIcon" matSuffix>gps_fixed</mat-icon>
            <mat-error *ngIf="addressForm.controls['address'].errors && addressForm.controls['address'].hasError('required')">
              Phone Number* is required
            </mat-error>
            
          </mat-form-field>

		  <mat-form-field appearance="outline" fxFlex color="accent">	
			<mat-label>Building Number*</mat-label>
			<input matInput placeholder="Building Number*" formControlName="buildingNumber">
			<mat-icon class="matIcon" matSuffix>apartment</mat-icon>
			<mat-error *ngIf="addressForm.controls['buildingNumber'].errors && addressForm.controls['buildingNumber'].hasError('required')">
				Building Number is required
			</mat-error>
		
		  </mat-form-field>

		  <mat-form-field appearance="outline" fxFlex color="accent">	
			<mat-label>Effective Date*</mat-label>
			<input matInput placeholder="Effective Date*"  formControlName="effectiveDate" type="date">
			<!-- <mat-icon class="matIcon" matSuffix>date_range</mat-icon> -->
			<mat-error *ngIf="addressForm.controls['effectiveDate'].errors && addressForm.controls['effectiveDate'].hasError('required')">
				Effective Date is required
			</mat-error>
        
          </mat-form-field>

        <!-- <mat-form-field fxFlex color="accent">
          <input matInput type="text" placeholder="Type of Business Activities" formControlName="lastName">
      </mat-form-field> -->
          
  </div>

  <div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">
  



    <mat-form-field appearance="outline" fxFlex color="accent">	
		<mat-label>Email*</mat-label>
		<input matInput placeholder="Email*" formControlName="email">
		<mat-icon class="matIcon" matSuffix>email</mat-icon>
		<mat-error *ngIf="addressForm.controls['email'].errors && addressForm.controls['email'].hasError('required')">
			Email is required
		</mat-error>
	
	  </mat-form-field>

	  <mat-form-field appearance="outline" fxFlex color="accent">	
		<mat-label>Fax*</mat-label>
		<input matInput placeholder="Fax*" formControlName="fax">
		<mat-icon class="matIcon" matSuffix>fax</mat-icon>
		<mat-error *ngIf="addressForm.controls['fax'].errors && addressForm.controls['fax'].hasError('required')">
			Fax is required
		</mat-error>
	
	  </mat-form-field>

	  <mat-form-field appearance="outline" fxFlex color="accent">	
		<mat-label>Mobile Number*</mat-label>
		<input matInput placeholder="Mobile Number*" formControlName="mobile">
		<mat-icon class="matIcon" matSuffix>phone</mat-icon>
		<mat-error *ngIf="addressForm.controls['mobile'].errors && addressForm.controls['mobile'].hasError('required')">
			Mobile is required
		</mat-error>
	
	  </mat-form-field>

    <!-- <mat-form-field fxFlex color="accent">
      <input matInput type="text" placeholder="Type of Business Activities" formControlName="lastName">
  </mat-form-field> -->
      
</div>

<div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">

	  <mat-form-field appearance="outline" fxFlex color="accent">	
		<mat-label>Phone Number*</mat-label>
		<input matInput placeholder="Phone Number*" formControlName="phone">
		<mat-icon class="matIcon" matSuffix>call_end</mat-icon>
		<mat-error *ngIf="addressForm.controls['phone'].errors && addressForm.controls['phone'].hasError('required')">
			Phone Number is required
		</mat-error>
	
	  </mat-form-field>

	  <mat-form-field appearance="outline" fxFlex color="accent" >
		<mat-label>Region</mat-label>
		<mat-select
		placeholder="Region"
		[(ngModel)]="selectedRegion"
		(ngModelChange)="onRegionSection()"
		formControlName="region"
	  >
		<mat-option  *ngFor="let region of listOfRegions" [value]="region.regionId">
		  {{region.regionName}}
		</mat-option>
	  </mat-select>
	
	
		<mat-icon class="matIcon" matSuffix>place</mat-icon>
	
	  </mat-form-field>

	  <mat-form-field appearance="outline" fxFlex color="accent" >
		<mat-label>District</mat-label>
		<mat-select
		placeholder="District"
		[(ngModel)]="selectedDistrict"
		(ngModelChange)="onDistrictSection()"
		formControlName="district"
	  >
		<mat-option  *ngFor="let districts of listOfDistricts" [value]="districts.districtId">
		  {{districts.districtName}}
		</mat-option>
	  </mat-select>
	
	
		<mat-icon class="matIcon" matSuffix>place</mat-icon>
	
	  </mat-form-field>


</div>

<div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">


	<mat-form-field appearance="outline" fxFlex color="accent" >
		<mat-label>Ward</mat-label>
		<mat-select
		placeholder="Ward"
		[(ngModel)]="selectedDocumentType"
		(ngModelChange)="onDocumentTypeSelection()"
		formControlName="ward"
	  >
		<mat-option  *ngFor="let ward of listOfWards" [value]="ward.wardId">
		  {{ward.wardName}}
		</mat-option>
	  </mat-select>
	
	
		<mat-icon class="matIcon" matSuffix>place</mat-icon>
	
	  </mat-form-field>

	  <!-- <mat-form-field appearance="outline" fxFlex color="accent" >
		<mat-label>Shehia</mat-label>
		<mat-select
		placeholder="Region"
		[(ngModel)]="selectedDocumentType"
		(ngModelChange)="onDocumentTypeSelection()"
		formControlName="region"
	  >
		<mat-option  *ngFor="let region of listOfRegions" [value]="region.regionId">
		  {{region.regionName}}
		</mat-option>
	  </mat-select>
	
	
		<mat-icon class="matIcon" matSuffix>credit_card</mat-icon>
	
	  </mat-form-field> -->


<!-- <mat-form-field fxFlex color="accent">
  <input matInput type="text" placeholder="Type of Business Activities" formControlName="lastName">
</mat-form-field> -->
  
</div>


  <div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">
<!-- 		
      <mat-form-field fxFlex color="accent">
          <mat-label>Current Address</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    formControlName="phone">
          </textarea>
        </mat-form-field> -->


		<button class="example-full-button " mat-raised-button color="primary" [disabled]="!addressForm.valid || !personForm.valid">Submit</button>


</div>
</form>


</mat-tab>
<mat-tab label="Intitution">

<br>
    <form [formGroup]="institutionForm" (submit)="institutionApplyForZNumber()" >

        <!-- <div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px"> -->
    
        
        <div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">
      
    
    
    
        <mat-form-field appearance="outline" fxFlex color="accent">	
            <mat-label>Commencement Date*</mat-label>
            <input matInput placeholder="Commencement Date*" type='date' formControlName="commencementDate">
            <mat-icon class="matIcon" matSuffix>date_range</mat-icon>
            <mat-error *ngIf="institutionForm.controls['commencementDate'].errors && institutionForm.controls['commencementDate'].hasError('required')">
                Commencement Date is required
            </mat-error>
        
          </mat-form-field>
    
         
    
		  <mat-form-field appearance="outline" fxFlex color="accent">	
            <mat-label>Full Name*</mat-label>
            <input matInput placeholder="Full Name*" formControlName="fullName">
            <mat-icon class="matIcon" matSuffix>badge</mat-icon>
            <mat-error *ngIf="institutionForm.controls['fullName'].errors && institutionForm.controls['fullName'].hasError('required')">
                Full Name is required
            </mat-error>
        
          </mat-form-field>
    
		  <!-- <label>Your first ng-select</label>
		  <mat-form-field>
			<ng-select ngSelectMat [items]="reportTo"
					   bindLabel="viewValue"
					   placeholder="Select city"
					   [(ngModel)]="selectedDocumentType"
					   >
			</ng-select>
			</mat-form-field> -->


		  <mat-form-field appearance="outline" fxFlex color="accent" >
			<mat-label>Report To</mat-label>
			<mat-select
			placeholder="Report To"
			[(ngModel)]="selectedDocumentType"
			(ngModelChange)="onDocumentTypeSelection()"
			formControlName="reportTo"
		  >
			<mat-option  *ngFor="let reportToD of reportTo" [value]="reportToD.value">
			  {{ reportToD.viewValue}}
			</mat-option>
		  </mat-select>
		
		
			<mat-icon class="matIcon" matSuffix>meeting_room</mat-icon>
		
		  </mat-form-field>

		  <!-- <mat-form-field appearance="outline" fxFlex color="accent">	
			<mat-label>Report To*</mat-label>
			<input matInput placeholder="Report To" formControlName="reportTo">
			<mat-icon class="matIcon" matSuffix>email</mat-icon>
			<mat-error *ngIf="institutionForm.controls['reportTo'].errors && institutionForm.controls['reportTo'].hasError('required')">
				Report Tois required
			</mat-error>
		
		  </mat-form-field> -->
    
        <!-- <mat-form-field fxFlex color="accent">
          <input matInput type="text" placeholder="Type of Business Activities" formControlName="lastName">
      </mat-form-field> -->
          
    </div>
    
    <div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">
    
       
    
		<mat-form-field appearance="outline" fxFlex color="accent">	
			<mat-label>Short Name*</mat-label>
			<input matInput placeholder="Short Name*" formControlName="shortName">
			<mat-icon class="matIcon" matSuffix>badge</mat-icon>
			<mat-error *ngIf="institutionForm.controls['shortName'].errors && institutionForm.controls['shortName'].hasError('required')">
				Short Name is required
			</mat-error>
		
		  </mat-form-field>
    
         
    
		  <mat-form-field appearance="outline" fxFlex color="accent">	
			<mat-label>TIN Number*</mat-label>
			<input matInput placeholder="TIN Number*" formControlName="tinNumber">
			<mat-icon class="matIcon" matSuffix>tag</mat-icon>
			<mat-error *ngIf="institutionForm.controls['tinNumber'].errors && institutionForm.controls['tinNumber'].hasError('required')">
				TIN Number is required
			</mat-error>
		
		  </mat-form-field>
		
    
    <!-- <mat-form-field fxFlex color="accent">
      <input matInput type="text" placeholder="Type of Business Activities" formControlName="lastName">
    </mat-form-field> -->
      
    </div>
    
      <div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">
    <!-- 		
          <mat-form-field fxFlex color="accent">
              <mat-label>Current Address</mat-label>
              <textarea matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                        formControlName="phone">
              </textarea>
            </mat-form-field> -->
    
    
            <button class="example-full-button " mat-raised-button color="primary" [disabled]="!institutionForm.valid">Apply</button>
    
    
    </div>
    </form>
      </mat-tab>

</mat-tab-group>

</div>

<div *ngIf="iseVerifiucationOneSent">

	<form [formGroup]="verificationNumberForm" (submit)="verifyCodeButtonPress()" >

		<div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">
			
			  <mat-form-field appearance="outline" fxFlex color="accent" >
				<mat-label>Verification Number</mat-label>
				<input matInput placeholder="Verification Number"  formControlName="verificationNumber">
				<mat-icon class="matIcon" matSuffix>lock</mat-icon>
				<mat-error *ngIf="verificationNumberForm.controls['verificationNumber'].errors && verificationNumberForm.controls['verificationNumber'].hasError('required')">
				  verificationNumber Number is required
				</mat-error>
				
			  </mat-form-field>
			
			
		  
	
			  <button class="example-full-button " mat-raised-button color="primary" [disabled]="!verificationNumberForm.valid">Verify</button>
	
	  </div>

	  <div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">
			
		<h3>Verfication Code not sent?</h3>&nbsp;<a [routerLink]="" (click)="resendVerificationCode()"><h3>Resend</h3></a>  <h3 *ngIf="isVerificationCodeSent">Code Resent!</h3>
     
	  </div>

	</form>
</div>

<div *ngIf="isCodeVerified">

	<form [formGroup]="verificationNumberForm" (submit)="verifyCodeButtonPress()" >


	  <div fxLayout="row" fxLayout.lt-sm="column"  fxLayout.lt-md="column" fxLayoutGap="16px">
			
      <!-- Verfication Code not sent?&nbsp;&nbsp;   <a [routerLink]="" (click)="resendVerificationCode()">Resend</a> -->
     <h2>Congratulations code verifiation Successfull, please use information sent to you, to login in the system</h2>
	  </div>

	</form>
</div>


</mat-card-content>
</mat-card>

</div>
</div>



